@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 1em;
  background-image: url("./images/backgroundImage.jpg");
  background-size: contain;
  background-position: right bottom;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Orbitron", sans-serif;
}

img {
  margin-top: 2em;
  max-width: 200px;
}

h1,
h2 {
  text-transform: uppercase;
  margin: 0.2em;
  letter-spacing: 4px;
  text-shadow: 1px 1px black, -1px -1px #444;
}

.grid {
  border: 3px solid grey;
  box-shadow: 2px 3px 20px 3px white;
  margin-top: 1em;
  width: 225px;
  height: 225px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.square {
  width: 15px;
  height: 15px;
}

.apple {
  background-image: url("./images/apple.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.snake {
  background-color: yellow;
  border-radius: 50%;
}

.snakeHead {
  background-color: orange;
  border-radius: 50%;
}

#start {
  padding: 0.5em 1.5em;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border: none;
  transition: all 0.2s ease;
  margin-top: 2em;
}

#start:hover {
  transform: scale(1.2);
  background-color: yellow;
  border: none;
  box-shadow: 1px 1px 10px 5px yellow;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: transparent;
  margin: 0 auto;
  padding: 2em;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.controlButtons {
  margin-top: 2em;
  display: none;
}

.btns {
  padding: 0.5em 2em;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  outline: none;
  border: 1px solid black;
  margin-top: 1em;
}

.leftRightBtn {
  display: flex;
  column-gap: 4em;
}

.btns:active {
  background-color: yellow;
}

@media (max-width: 550px) {
  .controlButtons {
    display: block;
  }
}
/* .head0 {
  background-image: url("./images/head.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 80% 100%;
}

.head90 {
  background-image: url("./images/head.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg);
  background-position: center;
  background-size: 80% 100%;
}

.head180 {
  background-image: url("./images/head.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  background-position: center;
  background-size: 80% 100%;
}
.head270 {
  background-image: url("./images/head.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(270deg);
  background-position: center;
  background-size: 80% 100%;
}

.tail0 {
  background-image: url("./images/tail.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 80%;
}

.tail90 {
  background-image: url("./images/tail.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg);
  background-position: center;
  background-size: 100% 80%;
}

.tail180 {
  background-image: url("./images/tail.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  background-position: center;
  background-size: 100% 80%;
}
.tail270 {
  background-image: url("./images/tail.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(270deg);
  background-position: center;
  background-size: 100% 80%;
}

.body0 {
  background-image: url("./images/body.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 80%;
}

.body90 {
  background-image: url("./images/body.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  background-size: 100% 80%;
  transform: rotate(90deg);
}

.bodytwisted0 {
  background-image: url("./images/bodytwisted.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 80% 80%;
}

.bodytwisted90 {
  background-image: url("./images/bodytwisted.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg);
  background-position: center;
  background-size: 80% 80%;
}

.bodytwisted180 {
  background-image: url("./images/bodytwisted.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  background-position: center;
  background-size: 80% 80%;
}
.bodytwisted270 {
  background-image: url("./images/bodytwisted.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(270deg);
  background-position: center;
  background-size: 80% 80%;
} */
